@import url("https://fonts.googleapis.com/css2?family=Ubuntu:wght@300;400;500&display=swap");

:root {
  --primary-color: #ff6b2c;
  --dark-color: #333;
  --black: #000;
  --white: #fff;
  --border-color: #ccc;
  --success-color: green;
}

body {
  font-family: "Ubuntu", sans-serif;
  margin: 0;
  padding: 0;
  background-image: linear-gradient(to bottom, var(--primary-color), var(--primary-color));
  text-align: center;
}

header {
  background-color: var(--dark-color);
  color: var(--white);
  padding: 20px;
}

main {
  padding: 20px;
}

.payment-form, form {
  max-width: 500px;
  margin: 20px auto;
  background-color: var(--white);
  padding: 20px;
  border-radius: 5px;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
  border: 1px solid var(--border-color);
  text-align: left;
}

.form-group {
  margin-bottom: 20px;
}

label {
  display: block;
  margin-bottom: 5px;
  font-weight: bold;
}

input {
  width: 100%;
  padding: 10px;
  border: 1px solid var(--border-color);
  border-radius: 5px;
  box-sizing: border-box;
}

button {
  background-color: var(--dark-color);
  color: var(--white);
  padding: 10px 20px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  font-weight: bold;
}

button:hover {
  background-color: #444;
}

footer {
  background-color: var(--black);
  color: var(--white);
  padding: 20px;
}

.hidden {
  display: none;
}

.visible {
  display: block;
}

#success-message {
  background: var(--white);
  padding: 20px;
  margin: 50px auto;
  width: 300px;
  border: 2px solid var(--success-color);
  border-radius: 5px;
  text-align: center;
}

.checkmark {
  width: 50px;
  height: 50px;
  border-radius: 50%;
  border: 5px solid var(--success-color);
  margin: 0 auto 10px;
  position: relative;
}

.checkmark:before {
  content: "";
  position: absolute;
  top: 50%;
  left: 50%;
  width: 15px;
  height: 30px;
  border: solid var(--success-color);
  border-width: 0 5px 5px 0;
  transform: translate(-50%, -50%) rotate(45deg);
}
